body {
    font-size: 25pt;
    background-image:url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.center {
  text-align: center;
  margin: auto;
  margin-top: 27px;
  width: 60%;
  height: 300px;
  border: 1px solid #FDFDFF;
  padding: 10%;
  box-shadow: 1px 5px 5px 5px  #27272F ;
}

h4 {
  color: white;
  margin: auto;
}
h1{
  color: darkgreen;
  

}
button{
  height: 30px;
background-color: #0d2c54;
color: white;
border-radius: 3px;
border-block-color: #0d2c54;
border-left-color: #0d2c54;
box-shadow: 1px 2px 1.7px 1.7px  #27272F ;

}
h6{
  font-size: 15.5pt;
  text-align: center;
  color: black;
  background-color: black;
  
}
