body {
    font-size: 25pt;
    background-image:url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.center {
  text-align: center;
  margin: auto;
  width: 60%;
  height: 350px;
  border: 1px solid #FDFDFF;
  padding: 10%;
  box-shadow: 1px 5px 5px 5px  #27272F ;
}

h4 {
  color: white;
}
h1{
  color: darkgreen;
  

}
button{
  height: 30px;
background-color: #150E63;
color: white;
border-radius: 3px;
border-block-color:  #150E63;
border-left-color:  #150E63;
box-shadow: 1px 2px 1.7px 1.7px  #27272F ;

}
p{
  font-size: 17pt;
  text-align: center;
}
